.background {
    -fx-background-color: #1d1d1d;
}

.label-bright {
    -fx-font-size: 15px;
    -fx-font-family: Arial, Helvetica, Sans-Serif;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%)
}

.button {
    position: relative;
    text-align: center;
    width: 100px;
    margin-bottom: 5px;
    padding: 5px 10px;
}

div.button:hover {
    text-decoration: underline;
}